<h1>{{ section.settings.title }}</h1>
<h1>  </h1>

 {% schema %}
{
    "name": "first-work",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "This is heading"
        }
        ],
        "presets": [
        {
         "name": "first Work" 
        }
      ]
}
{% endschema %} 